@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: Barlow, sans-serif;
    font-size: 16px;
    line-height: 1.625;
    --primary-color: #F16718;
    --primary-color-light: #FF9B62;
    --secondary-color: #162542;
    --secondary-color-light: #7B8BAD;
    --grey: #E8EFF2;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: var(--secondary-color-light);
    padding-block: 24px;
}

@media (width > 700px) {
    body {
        padding-block: 40px;
    }
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 900;
    color: var(--secondary-color);
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: -0.05rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.125;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    padding: 0 24px 40px 24px;
}

img.responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (width > 700px) {
    nav {
        padding: 0 40px 40px 40px;
    }
}

.logo {
    width: 50px;
    height: 50px;
    display: block;
}

button {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 600;
    font-size: 1rem;
    padding: 16px 37px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    color: var(--white);
    transition: background-color .3s;
    white-space: nowrap;
}

button.secondary {
    background-color: var(--secondary-color-light);
}

button.secondary:hover {
    background-color: var(--secondary-color);
}

button.primary {
    background-color: var(--primary-color-light);
}

button.primary:hover {
    background-color: var(--primary-color);
}

.main-grid {
    display: grid;
    grid-template-columns: 0 auto 0;
}

.left-col {
    background-color: var(--grey);
    height: 240px;
    grid-column: 1 / 2;
}

.mid-col {
    display: grid;
    grid-column: 2 / 3;
}

@media (width > 700px) {
    .mid-col {
        grid-template-columns: 1fr 1fr;
    }
}

.right-col {
    background-color: var(--grey);
    height: 240px;
    grid-column: 3 / 4;
}

@media (width > 1280px) {
    .main-grid {
        grid-template-columns: 1fr 1280px 1fr;
    }
    .mid-col {
        padding: 0 30px;
    }
}

.mid-col>div:first-child {
    padding: 0 24px;
}

.mid-col>div:last-child {
    padding-left: 24px;
}

.mid-col img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media (width > 1280px) {
    .mid-col>div:first-child {
        padding: 0 30px;
    }
    
    .mid-col>div:last-child {
        padding: 0 30px;
    }

    .mid-col img {
        border-radius: 20px
    }
}